name: deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          packages: |
            any::dplyr
            any::tidyr
            any::stringr
            any::htmlTable
            any::kableExtra
            any::formattable
            any::DT
            any::gt
            any::reactable
            any::ggplot2
            any::highcharter
            any::plotly
            any::ggiraph
            any::dygraphs
            any::networkD3
            any::leaflet
            any::crosstalk
            any::fontawesome
            any::knitr
      - name: Setup quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.6.39
          tinytex: true
      - name: Render and publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          render: true
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
